{% extends "base.html" %}
{% load static %}

{% block page_title %}
  Login
{% endblock page_title %}

{% block page_content %}

<main class="container auth-container">
    <div class="form-container">
        <h2 class="section-title">Login</h2>
        <br>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required autocomplete="off">
            <input type="password" name="password" placeholder="Password" required>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <br>
        <a class="link_simple" href="{% url 'core_app:signup' %}">Don't have an account ? Register</a>
        <br>
      </div>
</main>
  
{% endblock page_content %}
